body {
  font-family: 'Poppins', sans-serif;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

header li:first-child {
  opacity: 0.3;
}

header li:nth-child(2) {
  opacity: 1;
}

header ul.social li {
  opacity: 1;
}

h1 {
    font-weight: 700;
    text-align: left;
    line-height: 1.5em;
    font-size: 1.9em;
    letter-spacing: 0.05em;
    margin-top: 40px;
}

.about p {
  font-family: 'Libre Baskerville', serif;
  text-align: left;
  font-size: 1.2em;
  line-height: 2.2em;
  margin-top: 20px;
}

a {
  color: #f12545;
}

a:hover {
  color: #f12545;
}

.clients h2 {
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.33em;
  margin-top: 100px;
}

.line {
  width: 60px;
  height: 2px;
  background: #37CED5;
  margin-top: 15px;
  margin-bottom: -24px;
}

#logos {
  margin-top: 70px;
}

.clients ul.logos {
  float: left;
  font-size: 0.8em;
  letter-spacing: 0.09em;
  color: #B2B2B2;
  margin-left: -40px;
  margin-bottom: 6px;
}

.clients ul li {
  width: 206px;
  height: 82px;
  list-style: none;
  float: left;
  margin-right: 114px;
  margin-bottom: 40px;
}

.clients ul li:first-child {
  margin-right: 88px;
}

.clients ul li:last-child {
  margin-right: 0;
}

.clients ul li p {
  margin-top: 15px;
}

.press h2 {
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.33em;
  margin-top: 60px;
}

.press ul {
  float: left;
  margin-top: 70px;
  margin-left: -40px;
}

.press ul li {
  height: 54px;
  list-style: none;
  margin-right: 76px;
  margin-bottom: 40px;
}

.press ul li:last-child {
  margin-right: 0;
}
