body {
  font-family: 'Poppins', sans-serif;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  /*background-color: #0D122B;*/
}

header li:first-child {
  opacity: 1;
}

.project h2 {
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.33em;
  margin-top: 50px;
  text-align: left;
  margin-left: 4px;
}

.project .line {
  width: 60px;
  height: 2px;
  background: #37CED5;
  margin-bottom: -24px;
  float: left;
  margin-left: 4px;
}

.project span {
  float: left;
  margin-top: 20px;
  opacity: 0.5;
  margin-left: 4px;
}

.project p {
  font-family: 'Libre Baskerville', serif;
  text-align: left;
  font-size: 1.3em;
  line-height: 2em;
  margin-top: 30px;
  display: inline-block;
}

img.hero {
  width: 1130px;
}

.project img {
  margin-top: 40px;
  width: 1130px;
}

.project span a {
  color: #000;
}

.project span a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
