body {
  font-family: 'Poppins', sans-serif;
}

header li:first-child {
  opacity: 0.3;
}

header li:nth-child(3) {
  opacity: 1;
}

header ul.social li {
  opacity: 1;
}

h1 {
    font-weight: 700;
    text-align: left;
    line-height: 1.5em;
    font-size: 1.9em;
    letter-spacing: 0.05em;
    margin-top: 0;
}

.about p {
  font-family: 'Libre Baskerville', serif;
  text-align: left;
  font-size: 1.2em;
  line-height: 2.2em;
  margin-top: 20px;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.clients h2 {
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.33em;
  margin-top: 120px;
}

.line {
  width: 60px;
  height: 2px;
  background: #37CED5;
  margin-top: 15px;
  margin-bottom: -24px;
}

.clients ul {
  float: left;
  padding: 0;
  margin-top: 70px;
}

.clients ul li {
  list-style: none;
  margin-right: 70px;
  width: 232px;
  height: 40px;
}

.clients ul li:last-child {
  margin-right: 0;
}

.clients p {
  opacity: 0.3;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  margin-top: 10px;
  line-height: 1.6em;
}

.press h2 {
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: 0.33em;
  margin-top: 120px;
}

.press ul {
  float: left;
  padding: 0;
  margin-top: 70px;
}

.press ul li {
  list-style: none;
  margin-right: 79px;
  height: 40px;
}

.press ul li:last-child {
  margin-right: 0;
}
